body {
  background-color: #1C9CE0;
}

h1 {
  color: white;
  font-family: Comic 'Gill Sans', 'Gill Sans MT';
}

p {
  font-family: Comic 'Gill Sans', 'Gill Sans MT';
  font-size: 20px;
  text-align: center;
}

img {
  width: 15%;
  height: 30%;
}

div {
  text-align: center;
}
